<a href="https://colab.research.google.com/github/UjanGanguli/Python-Basics/blob/main/Pandas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PANDAS 1

In [ ]:
import numpy as np
import pandas as pd

1. create a dataframe with details(name and name of illness) of 5 Patients.

In [ ]:
data = [["abc","typhoid"],["xyz","malaria"],["mno","fever"],["rst","viral"],["www","cough and cold"]]
df = pd.DataFrame(data,columns=["Name","Name of Illness"])
print(df)

  Name\t Name of Illness
0    abc         typhoid
1    xyz         malaria
2    mno           fever
3    rst           viral
4    www  cough and cold

2. Creating list of covid cases in 2021 with respect to months. And creating a dataframe from list.

In [ ]:
data2 = [1200,6300,6300,6420,2300,3200,3300,5400,5650,7600]
df2 = pd.DataFrame(data2,columns=["covid cases in 2021"])
print("dataframe : ")
print(df2)

dataframe :
   covid cases in 2021
0                 1200
1                 6300
2                 6300
3                 6420
4                 2300
5                 3200
6                 3300
7                 5400
8                 5650
9                 7600

3. Create a dataframe with details(name and age) of 5 Patients.

In [ ]:
data3 = [["abc",28],["xyz",23],["mno",27],["rst",18],["www",19]]
df3 = pd.DataFrame(data3,columns=["Name","Age"])
print(df3)

  Name  Age
0  abc   28
1  xyz   23
2  mno   27
3  rst   18
4  www   19

4. create a dataframe with details of 2 patient for patient1 age column is missing values

In [ ]:
p1=[{"PID":"112","Name":"xyz"},{"PID":"111","Name":"abc","Age":39}]
dfp = pd.DataFrame(p1)
print(dfp)

   PID Name   Age
0  112  xyz   NaN
1  111  abc  39.0

5. Details of patient with respect to DataFrame of dictionary of series.

In [ ]:
data4 = {"Rooom no.":pd.Series([5,4,3],index=['abhi','bhargav','charan']),
          "Name of Illness":pd.Series([ 'typhoid','malaria','covid','jaundice'],index=['abhi','bhargav','charan','Dinesh'])}
df4 = pd.DataFrame(data4)
print(df4)

         Rooom no. Name of Illness
Dinesh         NaN        jaundice
abhi           5.0         typhoid
bhargav        4.0         malaria
charan         3.0           covid

6. Select Name of Illness column from Dataframe.

In [ ]:
print("Illness details of all student")
print(df4['Name of Illness'])

Illness details of all student
Dinesh     jaundice
abhi        typhoid
bhargav     malaria
charan        covid
Name: Name of Illness, dtype: object

7. Adding Doctor Assigned column passing as a series.

In [ ]:
data5 = {"Rooom no.":pd.Series([5,4,3],index=['abhi','bhargav','charan']),
          "Name of Illness":pd.Series([ 'typhoid','malaria','covid','jaundice'],index=['abhi','bhargav','charan','Dinesh'])}
df5 = pd.DataFrame(data5)
print(df5)
print("adding a new column passing as series: ")
df5['Doctor']=pd.Series(['Dr. Dishant','Dr. Shashank','Dr. Ujan'],index=['abhi','bhargav','charan'])
print(df5)

         Rooom no. Name of Illness
Dinesh         NaN        jaundice
abhi           5.0         typhoid
bhargav        4.0         malaria
charan         3.0           covid
adding a new column passing as series:
         Rooom no. Name of Illness        Doctor
Dinesh         NaN        jaundice           NaN
abhi           5.0         typhoid   Dr. Dishant
bhargav        4.0         malaria  Dr. Shashank
charan         3.0           covid      Dr. Ujan

8. Adding month of admission column column.

In [ ]:
df5['Month']=pd.Series([12,11,8],index=['abhi','bhargav','charan'])
print(df5)

         Rooom no. Name of Illness        Doctor  Month
Dinesh         NaN        jaundice           NaN    NaN
abhi           5.0         typhoid   Dr. Dishant   12.0
bhargav        4.0         malaria  Dr. Shashank   11.0
charan         3.0           covid      Dr. Ujan    8.0

9. Delete Column month from the data

In [ ]:
df5.pop("Month") print(df5)

         Rooom no. Name of Illness        Doctor
Dinesh         NaN        jaundice           NaN
abhi           5.0         typhoid   Dr. Dishant
bhargav        4.0         malaria  Dr. Shashank
charan         3.0           covid      Dr. Ujan

10. Create a dataframe of admitted days in hospital.

In [ ]:
data6={"Admitted days":pd.Series([45,48,36],index=['Dinesh','abhi','bhargav'])}
df6=pd.DataFrame(data6)
print(df6)

         Admitted days
Dinesh              45
abhi                48
bhargav             36

11. selection by label of patient name.

In [ ]:
data6={"Admitted days":pd.Series([45,48,36],index=['Dinesh','abhi','bhargav'])}
df6=pd.DataFrame(data6)
print(df6)
print("Retriving data of Dinesh")
print(df6.loc['Dinesh'])

         Admitted days
Dinesh              45
abhi                48
bhargav             36
Retriving data of Dinesh
Admitted days    45
Name: Dinesh, dtype: int64

12. selection by location of admitted days

In [ ]:
print("Retriving data of bhargav")
print(df6.iloc[2])

Retriving data of bhargav
Admitted days    36
Name: bhargav, dtype: int64

13. Retreiving data of patient using slicing rows.

In [ ]:
data7={"Admitted days1":pd.Series([45,48,36],index=['Dinesh','abhi','bhargav']),
       "Admitted days2":pd.Series([46,37,46],index=['Dinesh','abhi','bhargav']),
       "Admitted days3":pd.Series([31,35,26],index=['Dinesh','abhi','bhargav']),
       "Admitted days4":pd.Series([45,48,36],index=['Dinesh','abhi','bhargav'])}
df7=pd.DataFrame(data7)
print(df7)
print("\nDetails of abhi and bhargav")
print(df7[1:])
print("\nDetails of Dinesh and abhi")
print(df7[0:2])

         Admitted days1  Admitted days2  Admitted days3  Admitted days4
Dinesh               45              46              31              45
abhi                 48              37              35              48
bhargav              36              46              26              36

Details of abhi and bhargav
         Admitted days1  Admitted days2  Admitted days3  Admitted days4
abhi                 48              37              35              48
bhargav              36              46              26              36

Details of Dinesh and abhi
        Admitted days1  Admitted days2  Admitted days3  Admitted days4
Dinesh              45              46              31              45
abhi                48              37              35              48

14. Adding rows to data.

In [ ]:
df8 = pd.DataFrame([[1,2],[3,4]],columns=['a','b'])
print(df8,"\n")
df9=pd.DataFrame([[5,6],[7,8]],columns=['a','b'])
print(df9)
df10=pd.DataFrame([[10,20],[30,40]],columns=['a','b'])
df8 = df8.append(df9)
df8 = df8.append(df10)
print(df8)

   a  b
0  1  2
1  3  4

   a  b
0  5  6
1  7  8
    a   b
0   1   2
1   3   4
0   5   6
1   7   8
0  10  20
1  30  40

15. creating empty dataframe.

In [ ]:
df11 = pd.DataFrame()
print(df11)

Empty DataFrame
Columns: []
Index: []

16. How to get the items of series A not present in series B?

In [ ]:
p1 = pd.Series([2, 4, 6, 8, 10])
p2 = pd.Series([8, 10, 12, 14, 16])
p1[~p1.isin(p2)]

0    2
1    4
2    6
dtype: int64

17. How to get frequency counts of unique items of a series?

In [ ]:
p= pd.Series(np.take(list('pqrstu'), np.random.randint(6, size=17)))
p = pd.Series(np.take(list('pqrstu'), np.random.randint(6, size=17)))
p.value_counts()

q    5
s    5
t    3
u    2
p    1
r    1
dtype: int64

18. How to convert a numpy array to a dataframe of given shape?

In [ ]:
p = pd.Series(np.random.randint(1, 7, 35))
p = pd.Series(np.random.randint(1, 7, 35))
info = pd.DataFrame(p.values.reshape(7,5))
print(info)

   0  1  2  3  4
0  1  5  1  2  3
1  1  3  2  4  3
2  1  5  6  4  1
3  4  5  4  4  4
4  5  4  4  1  3
5  3  1  2  5  5
6  6  1  3  6  1

19. Change the data type of given a column or a Series.

In [ ]:
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series:")
print(s1)
print("Change the said data type to numeric:")
s2 = pd.to_numeric(s1, errors='coerce')
print(s2)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
Change the said data type to numeric:
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

20. Add,subtract,multiple and divide two Pandas Series of items

In [ ]:
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 9])
ds = ds1 + ds2
print("Add two Series:")
print(ds)
print("Subtract two Series:")
ds = ds1 - ds2
print(ds)
print("Multiply two Series:")
ds = ds1 * ds2
print(ds)
print("Divide Series1 by Series2:")
ds = ds1 / ds2
print(ds)

Add two Series:
0     3
1     7
2    11
3    15
4    19
dtype: int64
Subtract two Series:
0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiply two Series:
0     2
1    12
2    30
3    56
4    90
dtype: int64
Divide Series1 by Series2:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64