<a href="https://colab.research.google.com/github/UjanGanguli/Python-Basics/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#creating empty data frame
df1=pd.DataFrame()
print(df1)

Empty DataFrame
Columns: []
Index: []

In [ ]:
#creation of list
data2=[11,22,33,44,55,66,77,88,99]
#create a dataframe from list
df2=pd.DataFrame(data2)
print("Dataframe:")
print(df2)

Dataframe:
    0
0  11
1  22
2  33
3  44
4  55
5  66
6  77
7  88
8  99

In [ ]:
#creation of list on lists
data3=[["aaa",8.5],["bbb",9],["ccc",7],["ddd",8]]
df3=pd.DataFrame(data3,columns=["Name","CGPA"])
print(df3)

  Name  CGPA
0  aaa   8.5
1  bbb   9.0
2  ccc   7.0
3  ddd   8.0

In [ ]:
#naming the index
#adding 2 list seperatly
data4={"Name":["AAA","BBB","CCC","DDD"],"Age":[18,19,27,23]}
df4=pd.DataFrame(data4,index=["row1","row2","row3","row4"])
print(df4)

     Name  Age
row1  AAA   18
row2  BBB   19
row3  CCC   27
row4  DDD   23

In [ ]:
#missing value in a row with index
data5=[{"xyz":1,"wxy":2},{"xyz":11,"wxy":22,"vwx":33}]
df5=pd.DataFrame(data5,index=["missing value","with value"])
print(df5)

               xyz  wxy   vwx
missing value    1    2   NaN
with value      11   22  33.0

In [ ]:
#creating dataframe with dict of series
data6={"marks(1)":pd.Series([45,48,36,41],index=[118,119,120,121]),
       "attendance":pd.Series([88,94,54],index=[118,119,120])}
df6=pd.DataFrame(data6)
print(df6)

     marks(1)  attendance
118        45        88.0
119        48        94.0
120        36        54.0
121        41         NaN

In [ ]:
#selection of column from dataframe
print("Atttendance of all students:")
print(df6["attendance"])

Atttendance of all students:
118    88.0
119    94.0
120    54.0
121     NaN
Name: attendance, dtype: float64

In [ ]:
#adding new column
df6["marks(2)"]=pd.Series([40,32,47,39],index=[118,119,120,121])
print(df6)

     marks(1)  attendance  marks(2)
118        45        88.0        40
119        48        94.0        32
120        36        54.0        47
121        41         NaN        39

In [ ]:
df6["marks(FAT)"]=pd.Series([85,65,25,48],index=[118,119,120,121])
print(df6)

     marks(1)  attendance  marks(2)  marks(FAT)
118        45        88.0        40          85
119        48        94.0        32          65
120        36        54.0        47          25
121        41         NaN        39          48

In [ ]:
#total
df6["Internal"]=df6["marks(1)"]+df6["marks(2)"]
print(df6)

     marks(1)  attendance  marks(2)  marks(FAT)  Internal
118        45        88.0        40          85        85
119        48        94.0        32          65        80
120        36        54.0        47          25        83
121        41         NaN        39          48        80

In [ ]:
#delete/pop
df6.pop("attendance") #or del(df6["attendance"])
print(df6)

     marks(1)  marks(2)  marks(FAT)  Internal
118        45        40          85        85
119        48        32          65        80
120        36        47          25        83
121        41        39          48        80

In [ ]:
#slection by label
data7={"marks(1)":pd.Series([45,48,36],index=[118,119,120]),
       "marks(2)":pd.Series([46,37,46],index=[118,119,120]),
       "marks(3)":pd.Series([31,35,26],index=[118,119,120]),
       "marks(4)":pd.Series([45,48,36],index=[118,119,120])}
df7=pd.DataFrame(data7)
print(df7)
print("Retriving data of 119")
print(df7.loc[119])

     marks(1)  marks(2)  marks(3)  marks(4)
118        45        46        31        45
119        48        37        35        48
120        36        46        26        36
Retriving data of 119
marks(1)    48
marks(2)    37
marks(3)    35
marks(4)    48
Name: 119, dtype: int64

In [ ]:
#selection by location
print("Retriving data of 120")
print(df7.iloc[2])

Retriving data of 120
marks(1)    36
marks(2)    46
marks(3)    26
marks(4)    36
Name: 120, dtype: int64

In [ ]:
#slicing rows
print("Details of 119 and 120")
print(df7[1:])
print("Details of 118 and 119")
print(df7[0:2])

Details of 119 and 120
     marks(1)  marks(2)  marks(3)  marks(4)
119        48        37        35        48
120        36        46        26        36
Details of 118 and 119
     marks(1)  marks(2)  marks(3)  marks(4)
118        45        46        31        45
119        48        37        35        48

In [ ]:
df9=pd.DataFrame([[1,2],[3,4],columns=["a","b"]])
print(df9)
df10=pd.DataFrame([[5,6],[7,8],columns=["a","b"]])
print(df10)
df9=df9.append(df10)
print(df(9))