<a href="https://colab.research.google.com/github/UjanGanguli/Python-Basics/blob/main/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tuple

In [ ]:
a=(50) #Integer
b=(50,) #Tuple containing integer
print(a)
print(b)

50
(50,)

In [ ]:
tup1=("phy","chem",1997,2000); #Creating Tuple
print(tup1)
tup2=(1,2,3,4,5)
print(tup2)
tup3="a","b","c","d"
print(tup3)

('phy', 'chem', 1997, 2000)
(1, 2, 3, 4, 5)
('a', 'b', 'c', 'd')

In [ ]:
(4,8) +(8,9) #Concatenation

(4, 8, 8, 9)

In [ ]:
(5,7)*4 #Repetition

(5, 7, 5, 7, 5, 7, 5, 7)

In [ ]:
T=(6,4,8,9) #Indexing,Slicing
T[0] , T[1:3]

(6, (4, 8))

In [ ]:
tmp=["ed","sb","fe","fa"] #List
print(tmp)
t=tuple(tmp) #Converting List to Tuple
sorted(t) #Sorting Tuple
print("Sorted tuple: ",t)

['ed', 'sb', 'fe', 'fa']
Sorted tuple:  ('ed', 'sb', 'fe', 'fa')

In [ ]:
A=(10,100,0.1,0.01) #Tuple A
print(A)
B=[x+5 for x in A] #Adding 5 to Tuple A
print(B)

(10, 100, 0.1, 0.01)
[15, 105, 5.1, 5.01]

In [ ]:
X=(9,8,7,4,9,4,2,1,9)
l=X.index(4) #Location of "4"
print("Location of 4: ",l)
m=X.index(9,1) #Second occurence of 9
print("Second occurence of 9: ",m)
n=X.index(9,5) #Third occurence of 9
print("Third occurence of 9: ",n)
o=X.count(9) #Count of "9"
print("Number of 9s:",o)

Location of 4:  3
Second occurence of 9:  4
Third occurence of 9:  8
Number of 9s: 3

In [ ]:
T1=(87,"Apple","Orange","Nope",4)
print(T1)
print(T1[0],T1[-1]) #Access by Location

(87, 'Apple', 'Orange', 'Nope', 4)
87 4